/* Main CSS file */

body {
	height: 100%;
	width: 100%;

	max-width: 100%;
    overflow-x: hidden;

	background-color: #323232;
}

.toggle {
	opacity: 0.45;
}


#title {
	text-align: center;
	font-size: 42px;
	font-family: 'Permanent Marker';
}

#loading-screen {
	text-align: center;
	font-size: 16px;
	font-family: 'Permanent Marker';
}

#instructions {
	font-family: 'lato';

	margin-left: auto;
	margin-right: auto;

	width: auto;

	display: block;
    text-align: center;
}

#instructions-text {
	display: inline-block;
	width: 600px;
}

#instructions-text ul {
	text-align: left;
}

#instructions-text li {
	margin-bottom: 3px;
}

#download-div {
	background-color: #404040;

	border-width: 2px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 2px;

	display: inline-block;
	width: 70px;
	height: 110px;
}

#buttons {
	text-align: center;
}

#main-content {
	margin-top: 20px;
	
	margin-left: auto;
	margin-right: auto;


	padding-top: 40px;
	padding-left: 80px;

	max-width: 1000px;

	height: 1350px !important;

	background-image: url("../images/background/bg.png");
	background-size:     100% 100%;
	background-repeat:   no-repeat;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;

    opacity: 0.3;

    width: 700px;
}

/* BARROWS */
#div-barrows {
	display: inline-block;
	width: 720px;
}

#div-barrows div {
	display: inline-block;
	width: 80px;
	margin-right: 40px;
}


/* BOOKS */
#div-books {
	display: inline-block;
	width: 120px;
	margin-left: 20px; 
}

#div-books div {
	display: inline-block;
}

/* CAPES */
#div-capes {
	display: block;
	width: 920px;
}

#div-capes div {
	display: inline-block;
	vertical-align: top;
}

#achievement {
	width: 520px;

}

#combat {
	width: 40px;
	margin-left: 20px; 
}

#imbued {
	width: 80px;
	margin-left: 20px;
}

#max {
	width: 200px;
	margin-left: 20px;
}

/* CLUES */
#div-clues {
	display: block;
	width: 880px;
}

#thirdage {
	display: inline-block;
	width: 240px;
}

#gear {
	display: inline-block;
	width: 80px;
	margin-left: 40px; 
}

#milestones {
	display: inline-block;
	width: 400px;

	vertical-align: top;

	margin-top: 40px;
	margin-left: 40px;
}

#milestones img {
	margin-left: 40px;
}

/* COLLECTIONS */
#div-collections {
	display: inline-block;
	width: 40px;
	vertical-align: top;
	margin-left: 80px;
}


/* DIARIES */
#div-diaries {
	display: inline-block;
}

#div-diaries div {
	margin-left: 40px; 
	display: inline-block;
	width: 160px;
}

/* DRAGON */
#div-dragon {
	display: inline-block;
	width: 200px;
}

#div-dragon div {
	display: inline-block;
	width: 200px;
}

/* DROPS */
#div-drops {
	display: inline-block;
	width: 80px;
	vertical-align: top;
	margin-left: 80px;
}

/* GWD */
#div-gwd {
	display: inline-block;
	width: 520px;
}

#div-gwd div {
	display: inline-block;
	width: 80px;
	margin-right: 40px;
}

#saradomin {
	width: 120px !important;
}

/* HEADS */
#div-heads {
	display: inline-block;
	width: 160px;
}

#div-heads div {
	display: inline-block;
	width: 160px;
}

/* JARS */
#div-jars {
	display: inline-block;
	width: 160px;
	margin-left: 40px;
	margin-right: 120px;
}

/* JEWELLRY */
#div-jewellry {
	display: inline-block;
	width: 160px;
	margin-left: 40px;
}

#div-jewellry div {
	display: inline-block;
	width: 160px;
}

/* MTA */
#div-mta {
	display: inline-block;
	width: 160px;
	margin-top: 40px;
	vertical-align: top;
}

/* OUTFITS */
#div-outfits {
	display: inline-block;
	width: 920px;
}

#div-outfits div {
	margin-right: 40px;
}

#graceful {
	width: 120px;
	display: inline-block;
}

#prospector {
	width: 120px;
	display: inline-block;
}

#farmer {
	width: 120px;
	display: inline-block;
}

#lumberjack {
	width: 80px;
	display: inline-block;
}

#pyromancer {
	width: 120px;
	display: inline-block;
}

#rogue {
	width: 120px;
	display: inline-block;
}

#void {
	width: 200px;
	display: inline-block;
}

#angler {
	width: 80px;
	display: inline-block;
}

#ba {
	width: 160px;
	display: inline-block;
}

/* PETS */
#div-pets {
	display: inline-block;
	width: 640px;
	margin-left: 80px;
	margin-top: 40px; 
}

#rock_golem {
	margin-left: 120px;
}


/* PVM */
#div-pvm {
	width: 920px;
}

#div-pvm div {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}


#cerberus {
	width: 80px;
}

#corp {
	width: 80px;
}

#dks {
	width: 160px;
}

#granite {
	width: 80px;
}

#slayer {
	width: 240px;
}

#vorkath {
	width: 40px;
}

#wilderness {
	display: inline-block;
	width: 280px;
	margin-top: 40px;
	margin-left: 120px;
}

#ring_of_the_gods {
	margin-left: 40px;
}

#zulrah {
	display: inline-block;
	width: 280px;
	margin-left: 40px;
	margin-top: 40px;
}

#magic_fang {
	margin-left: 40px;
}


/* RAIDS */
#div-raids {
	display: block;
	width: 640px;
	margin-left: 120px;
}

/* SCROLLS */
#div-scrolls {
	display: block;
	width: 400px;
	margin-left: 240px;
	margin-bottom: 40px;
}

#div-scrolls div {
	display: inline-block;
	width: 400px;
}


/* SKILLING */
#div-skilling {
	display: block;
	width: 90%;
}

#div-skilling div {
	display: inline-block;
	width: 300px;
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.default-hidden {
	display: none
}

footer {
	font-family: Lato;
	font-weight: 500;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #DDDDDD;
}

footer p {
	display: inline-block;
	max-width: 650px;
}

footer a:link {color:#BBBBFF;}
footer a:visited {color:#BBBBFF;} 
footer a:hover {color:#BBBBFF;} 