/* Main CSS file */

body {
	height: 100%;
	width: 100%;

	margin: 0px;
	padding: 0px; 

	background-color: #424242;
}

.toggle {
	opacity: 0.45;
}

#how-to {
	width: 100%;
	display: inline-block;
}

#title {
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 42px;
	font-family: 'Permanent Marker';
}

#loading-screen {
	text-align: center;
	font-size: 16px;
	font-family: 'Permanent Marker';
}

#instructions {
	font-family: 'lato';
	font-weight: 500;

	margin-left: auto;
	margin-right: auto;

	width: 100%;

	display: inline-block;
	text-align: center;
}

#instructions-text {
	display: inline-block;
	width: 600px;
}

#instructions-text ul {
	text-align: left;
}

#instructions-text li {
	margin-bottom: 3px;
}

#download-div {
	background-color: #505050;

	border-width: 2px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 2px;

	display: inline-block;
	width: 80px;
	height: 130px;
}

#mobile-warning {
	display: none;
}

#button-div {
	text-align: center;
}

.user-button {
    background-color: #121212; /* Green */

    border-radius: 3px;
    border-color: #121212;
    border-style: solid;

    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    display: inline-block;

    width: 200px;

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
}

#main-content {

	margin-top: 20px;
	margin-bottom: 40px;

	margin-left: auto;
	margin-right: auto;

	padding-left: 80px;
	padding-right: 80px;
	padding-top: 40px;
	padding-bottom: 80px;

	width: 880px;
	height: 1300px;

	position: relative;
}

#fixed-background-image {
	position: absolute;
	z-index: -3;
	top: 0;
	left: 0;

	margin-left: -8px;

	width: 100%;
	height: 100%;
}

hr { 
	display: block;

	margin-top: 0.5em;
	margin-bottom: 0.5em;

	margin-left: 100px;
	margin-right: auto;
	border-style: solid;
	border-width: 0.5px;

	overflow-x: visible; 

	opacity: 0.3;

	width: 700px;
}

.clue-input {
    background-color: rgba(255, 255, 255, 0.4);
    width: 45px;
    position: absolute;
    top: 60px;
    border: 0px solid;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 18px;
}

#input-easy {
	left: 450px;
}

#input-medium {
	left: 540px;
}

#input-hard {
	left: 630px;
}

#input-elite {
	left: 720px;
}

#input-master {
	left: 810px;
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.default-hidden {
	display: none
}

footer {
	font-family: Lato;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #DDDDDD;
}

footer p {
	display: inline-block;
	width: 490px;
}

#thats-me {
	width: 100%;
	font-size: 14px;
}

#thats-them {
	margin-right: 40px; 
}

#thats-all {
	margin-left: 40px;
}

footer a:link {color:#BBBBFF;}
footer a:visited {color:#BBBBFF;} 
footer a:hover {color:#BBBBFF;} 